
#header{

    text-align: center;
    color: darkblue;
    letter-spacing: 3px;
    
    
}

#comments{

    text-align: center;
}



#form{

    text-align: center;
}

#gender{

    padding-right: 55px;

}

#form{

    border-style: solid ;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
}
